*{ box-sizing: border-box;}

html {
  scroll-behavior: smooth; 
}

body {
  background-position-y: -18vw;
  overflow-x: hidden;
  width: 100vw;
  height: 410vw;
  background-size: cover;
  background-image: url("../img/background.svg");
  background-repeat: no-repeat;
  }

  .body-no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }

  a {
    text-decoration: none; 
    color: inherit; 
    cursor: pointer;
  }
 
.first-screen {
    width: 100vw;
    height: 50vw;
}

.vertical, .burger, #content_none {
  display: none;
}

.information {
  justify-content: space-around;
  margin: 2vw 0 0 8vw;
  width: 86vw;
  height: 1vw;
  display: flex;
}

.information h4 {
  font-family: "InterSemiBold";
  font-size: 0.7vw;
  text-transform: uppercase;
  cursor: pointer;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 55vw;
    overflow: hidden;
    z-index: -1; 
  }

  .video-background video {
    position: absolute;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -41%);
    object-fit: cover;
  }

  .content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: left;
    padding-top: 30vh;
    font-size: 2rem;
    font-family: sans-serif;
    text-shadow: 0 0 10px black;
  }

  .logo {
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 56vw;
    height: 13vw;
    margin: 18vw 0 0 24vw;
  }

.product {
    background: none;
    width: 9vw;
    height: 2vw;
    border-radius: 0.4vw;
    margin: -1vw 0 0 48vw;
  }

  .product h5 {
    font-family: "InterMedium";
    font-size: 0.7vw;
    letter-spacing: 0.15vw;
}

.contacts-link {
  cursor: pointer;
  color: blue;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

.modal-content {
  background-color: #fff;
  margin: 5vw 25vw;
  padding: 4vw 2vw 2vw 2vw;  
  border: 0.1vw solid #000;
  width: 50vw;
  max-height: 60vw;
  overflow-y: auto;
  position: relative;
  box-shadow: 0px -2px 33.9px -6px rgba(0, 0, 0, 0.25);
  border-radius: 1vw;
  position: fixed
}

.content2 {
  width: 70vw;
  margin: 10vw 13vw;
  max-height: 30vw;
}

.close {
  position: absolute;
  left: 2vw;
  top: 1vw;
  color: #1C1C1E;
  font-size: 2vw;
  font-weight: bold;
  cursor: pointer;
}

.offer_title {
  font-size: 1.2vw;
  font-family: "InterRegular";
  line-height: 129%;
}

.close h2, h3, p {
  font-size: 1.2vw;
  font-family: "InterRegular";
  line-height: 129%;
}

.close:hover {
  color: black;
}

.deliveryModal p, li, ul {
  font-size: 1.2vw;
  font-family: "InterRegular";
  line-height: 129%;
}

.sec_screen {
  width: 100vw;
  height: 50vw;
}

.model {
  width: 100%;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.photo_container_vert {
  object-fit: fill;
  overflow: hidden;
  border-radius: 1vw;
  height: 34vw;
}

.model canvas {
  width: 70vw;   
  height: auto;  
  max-height: 80vh; 
  object-fit: contain;
}


.third_screen {
  width: 100vw;
  height: 110vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.third_screen h2{
  text-align: center;
  width: 100vw;
  height: 1vw;
  font-family: "InterMedium";
  font-size: 2vw;
}

.photo_container {
  width: 100vw;
  height: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.text {
  width: 50vw;
  height: 10vw;
}

.photo {
  width: 65vw;
  height: 35vw;
  background-image: url("../img/photo_main.jpg");
  background-repeat: no-repeat;
  border-radius: 1vw;
}

.illustration {
  width: 40vw;
  height: 10vw;
  background-size: contain;
  background-image: url("../img/illustration.svg");
  background-repeat: no-repeat;
}

.price {
  color: #565656;;
}

.third_screen p{
  margin: 3vw 0 0 27vw;
  text-align: center;
  width: 45vw;
  height: 9vw;
  font-family: "InterMedium";
  font-size: 1.2vw;
  line-height: 150%;
  color: #8E8E8E;;
}

.size {
    width: 100vw;
    height: 23vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2vw 0 0 0px;
}

.size h5 {
  font-family: "InterRegular";
  font-size: 1.4vw;
}

.size_boxes {
  width: 20vw;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin: 1vw 0;
}

.size-btn{
  display: flex;
  width: 7vw;
  height: 4vw;
  border: 0.1vw solid #000;
  border-radius: 0.5vw;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  color: #000;
  cursor: pointer;
  transition: all 0.3s;
}

.size-btn.clicked {
  background-color: #000;
  color: #fff;
  border: none;
}

.size_boxes h4 {
  font-size: 1.8vw;
  font-family: "InterRegular";
}

.size-chart {
  width: 25vw;
  font-family: "InterRegular";  
  text-align: center;
  border: 0.1vw solid #000;
  font-size: 1.2vw;
  border-collapse: separate; 
  border-spacing: 0;
  border-radius: 0.5vw; 
  overflow: hidden; 
}

.size-chart th,
.size-chart td {
  border: 0.1vw solid #000;
  padding: 0.6vw;
}

.size-chart th {
  background-color: none;
}

.size-chart tr:nth-child(4) {
  border-top: 0.1vw solid #000;
}

.buy_container {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
}

.buy {
  width: 49vw;
  height: 3vw;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5vw;
  margin: 3vw 0 0 0;
  cursor: pointer;
  transition: all 0.3s ease;
  transform-origin: center;
}

.buy:active {
  animation: gentleClick 1.2s cubic-bezier(0.28, 0.84, 0.42, 1) forwards;
}

@keyframes gentleClick {
  0% {
    transform: scale(1);
    background-color: #000;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  20% {
    transform: scale(1.08);
    background-color: #222;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  50% {
    transform: scale(1.06);
    background-color: #222;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  }
  75% {
    transform: scale(1.02);
    background-color: #111;
  }
  100% {
    transform: scale(1);
    background-color: #000;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
}

.buy_text {
  background-image: url("../img/buy.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 10vw;
  height: 3vw;
  margin-top: 0.5vw;
}

.left_align {
  text-align: left;
  padding-left: 1vw;
}


.fourth_screen {
  width: 100vw;
  height: 60vw;
  overflow: hidden;
}

.swiper {
  width: 100vw;
  height: 50vw;
  padding: 3vw 0;
  overflow: visible; /* важно: позволяет частично показывать боковые слайды */
}

.swiper-slide {
  width: 60vw !important; 
  height: 40vw;
  opacity: 0.3;
  transform: scale(0.85);
  transition: all 0.3s ease;
  filter: grayscale(100%);
  object-fit: cover;
  display: flex;
  align-items: center; 
  justify-content: center; 
  overflow: hidden;
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1);
  filter: grayscale(0%);
  z-index: 10;
}

.slide1, .slide2, .slide3 {
  background-size: contain;
  background-repeat: no-repeat;

}

.swiper-slide img {
  border-radius: 1.5vw;
  width: 100%;
  height: 100%;
  object-fit: contain; 
}

/* .slide1 {
  background-image: url("/shoping-main/img/photo_2.jpg");

}

.slide2 {
  background-image: url("/shoping-main/img/photo_3.jpg");
}

.slide3 {
  background-image: url("/shoping-main/img/photo_4.jpg");
}

.slide4 {
  background-image: url("/shoping-main/img/photo_5.jpg");
} */


.fivth_screen {
  width: 100vw;
  height: 40vw;
  position: relative;
}


.video_footer {
  width: 100vw;
  height: 20vw;
  z-index: -1;
  display: flex;
  justify-content: center;
  margin: 16vw 0 0 50vw;
}

.video_footer video {
  width: 100vw;
  height: 40vw;
  transform: translate(-50%, -50%);
  object-fit: contain;

}

.fivth_screen p {
  text-align: center;
  width: 100vw;
  height: 5vw;
  color: #000;
  font-family: "InterMedium";
  font-size: 1vw;
  margin: 5vw 0 0 0;
}

footer {
  margin: 50vw 0 0 0;
  width: 100vw;
  height: 40vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5vw;
}

.logo_footer {
  width: 20vw;
  height: 10vw;
  background-image: url('../img/logo_footer.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

footer h4 {
  font-family: "InterMedium";
  font-size: 1.3vw;
  cursor: pointer;
}

.first_line {
  width: 32vw;
  height: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0vw;
  margin: 0 0 0 4vw;
}

.sec_line {
  width: 31vw;
  height: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 4vw;
}

.third_line {
  width: 49vw;
  height: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 5vw;
}

.fourth_line {
  width: 27vw;
  height: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 6vw;
}

